body {
    margin: 0;
    font-family: "Open+Sans", sans-serif
}

.button, .select {
    background-color: #00b3cb;
    color: #fff;
    border: 0px;
    border-radius: 3px;
}

.select {
    outline: none
}

.button:hover, .select:hover {
    background-color: #0086a3;
}
.filter-option:focus{
    background-color: #00b3cb;
}
.input-text {
    vertical-align: middle;
    height: 30px;
    border: 2px solid #00b3cb;
    border-radius: 3px;
    box-sizing: border-box;
}
.input-text:focus{
   outline-width:0 ;
   border-color: #0086a3;
}