.character-item-list {
    box-shadow: 0 1px 8px rgb(0 0 0 / 70%), 0 0 0 1px rgb(0 0 0 / 40%);
    background: #00b3cb;
    color: #fff;
    padding-bottom: 10px;
    margin: 0 auto 20px auto;
}

.character-item-list:hover {
    cursor: pointer;
    box-shadow: 0 1px 8px #00b3cb9c, 0 0 0 1px rgb(0 0 0 / 40%);
}

.character-item-list-image {
    width: 250px;
}

.character-item-list-name {
    text-align: center;
}
.character-item-list-info{
    margin-bottom: 20px;
}
.character-item-list-location {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.character-item-list-info_item {
    display: grid;
    grid-template-columns: 50% auto;
    width:200px;
    margin: auto;
}

.info_item-name {
}
.info_location-name{
    margin-bottom: 5px;
}
.character-item-list-location{
    margin-bottom: 5px;
}