.episode {}

.episode-header {
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
    box-sizing: border-box;
}

.episode-header-number {
    background: #00b3cb;
    color: #fff;
    border-radius: 5px 5px 0;
    padding-left: 20px;
}
.episode-header-content {
    padding-left: 40px;
}
.episode-header-airdate{
    padding-bottom: 10px;
    margin: 0;
}