.serach-and-filter {
    display: flex;
    font-size: 14px;
    padding: 0 20px;
    margin-top: 10px;
}

.serach-block {
    width: 100%;
}

.serach-string {
    padding-left: 20px;
    width: 75%;
    margin-right: 20px;
}

.serch-button {
    height: 30px;
    width: 60px;
}
.search-err {
    color: #cb0000;
    font-size: 12px;
    height: 30px;
    min-width: 100px;
    display: block;
    width:75%;
    margin-left: 20px;
}
.hide{
    visibility: hidden;
}
.filter-select{
    height: 30px;
}